<!doctype html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <table class="wrapper" style="border-collapse: collapse;table-layout: fixed;min-width: 320px;width: 100%;background-color: #fff;" role="presentation" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
          <div>
            <div class="layout one-col fixed-width stack" style="Margin: 0 auto;max-width: 600px; min-width: 320px; width: 320px; width: 100%; overflow-wrap: break-word;word-wrap: break-word; word-break: break-word;">
              <div class="layout__inner" style="border-collapse: collapse;display: table;width: 100%;background-color: #ffffff;">
                <div class="column" style="text-align: left;color: #000;font-size: 16px;line-height: 24px;font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;">

                  <div style="font-size: 12px; Margin-top: 20px; font-style: normal;font-weight: normal;line-height: 19px;" align="center">
                    <a target="_blank" href="https://store.cesium.di.uminho.pt/"><img style="border: 0;display: block;height: auto;width: 100%;max-width: 134px;" alt="CeSIUM Store" src="https://cdn.shopk.it/usercontent/1-04-store/media/images/0d44f64-logo.png" width="134"></a>
                  </div>

                  <div style="Margin-left: 20px;Margin-right: 20px; Margin-top: 20px;">
                    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
                      <p style="Margin-top: 16px;Margin-bottom: 20px;">
                        Olá,</br>A sua encomenda foi cancelada.
                      </p>
                    </div>
                  </div>
                  <div style="Margin-left: 20px;Margin-right: 20px; Margin-top:24px; Margin-bottom:24px; padding-top:2px; background-color:rgb(230,230,230)"></div>

                  <%= link to: @link do %>
                    <div style="Margin-left: 20px;Margin-right: 20px; background-color: black; font-weight:bold; line-height:30px; text-align:center; color:#ffffff; padding-top: 10px; padding-bottom: 10px;">
                     <span style="text-decoration:none">Ver detalhes</span>
                    </div>
                  <% end %>

                  <div style="Margin-left: 20px;Margin-right: 20px; Margin-top:24px; padding-top:2px; background-color:rgb(230,230,230)"></div>

                  <div style="Margin-left: 20px;Margin-right: 20px;">
                    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
                      <p style="Margin-top: 16px;Margin-bottom: 20px;">
                        Obrigado pelo seu interesse no merch do CeSIUM.<br> Esperamos vê-lo novamente!
                      </p>
                    </div>
                  </div>

                  <div style="Margin-left: 20px;Margin-right: 20px;">
                    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
                      <p class="size-10" style="Margin-top: 0;Margin-bottom: 20px;font-size: 10px;line-height: 18px;" lang="x-size-10">
                        <span style="color:#707070">
                          Se o botão acima não funcionar, copie o seguinte link e cole-o num browser.
                          <%= link to: @link do %>
                              <%= @link %>
                          <% end %>
                        </span>
                      </p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="mso-line-height-rule: exactly;line-height: 20px;font-size: 20px;">&nbsp;</div>

              <div style="background-color: #f5f5f5;">
                <div class="layout one-col stack" style="Margin: 0 auto;max-width: 600px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
                  <div class="layout__inner" style="border-collapse: collapse;display: table;width: 100%;">
                    <div class="column" style="text-align: left;color: #000;font-size: 16px;line-height: 24px;font-family: Avenir,sans-serif;">
                      <div style="Margin-top: 25px; Margin-bottom: 2px; font-size: 12px; font-style: normal;font-weight: normal;line-height: 19px; color: #4f4f4f;" align="center">
                        <p>Enviado com 🧡 pela equipa do CeSIUM</p>
                        <p>Está a receber este email porque tem uma conta registada em <a target="_blank" href="https://store.cesium.di.uminho.pt/">store.cesium.di.uminho.pt</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </html>
